.p_1 {
  padding: 1px;
}
.p_3 {
  padding: 3px;
}
.p_4 {
  padding: 4px;
}
.p_6 {
  padding: 6px;
}
.p_7 {
  padding: 7px;
}
.p_10 {
  padding: 10px;
}
.p_11 {
  padding: 11px;
}
.pb_2 {
  padding-bottom: 2px;
}
.pb_5 {
  padding-bottom: 5px;
}
.pb_8 {
  padding-bottom: 8px;
}
.pb_12 {
  padding-bottom: 12px;
}
